.login-container {
  left: 74%;
  .login-form {
    padding: 12px;

    &__buttons {
      button {
        width: 100%;

        &:last-child{
          margin-top: 20px;
        }
      }
    }

    &__links {
      text-align: right;
      margin-bottom: 10px;
    }

  }
}